series_temporales_maxi/trabajo_final/src/audios/auto/V1-NS-left(channel1)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V1-NS-left(channel2)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V2-NS-right(channel1)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V2-NS-right(channel2)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V3-NS-right(channel1)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V3-NS-right(channel1)-auto3.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V3-NS-right(channel1)-auto6.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V3-NS-right(channel2)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V3-NS-right(channel2)-auto3.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V3-NS-right(channel2)-auto6.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V4-NS-left(channel1)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V4-NS-left(channel1)-auto3.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V4-NS-left(channel1)-auto6.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V4-NS-left(channel2)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V4-NS-left(channel2)-auto3.wav
series_temporales_maxi/trabajo_final/src/audios/auto/V4-NS-left(channel2)-auto6.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V3-NS-right(channel1)-camioneta3.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V3-NS-right(channel1)-camioneta4.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V3-NS-right(channel2)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V3-NS-right(channel2)-camioneta3.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V3-NS-right(channel2)-camioneta4.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V4-NS-left(channel1)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V4-NS-left(channel1)-camioneta3.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V4-NS-left(channel1)-camioneta4.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V4-NS-left(channel2)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V4-NS-left(channel2)-camioneta3.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V4-NS-left(channel2)-camioneta4.wav
series_temporales_maxi/trabajo_final/src/audios/camioneta/V4-NS-left(channel2)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V1-NS-left(channel1)-colectivo1.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V1-NS-left(channel1)-colectivo2.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V1-NS-left(channel1)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V1-NS-left(channel2)-colectivo1.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V1-NS-left(channel2)-colectivo2.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V1-NS-left(channel2)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V2-NS-right(channel1)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V2-NS-right(channel1)-colectivo2.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V2-NS-right(channel1)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V2-NS-right(channel2)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V2-NS-right(channel2)-colectivo2.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V2-NS-right(channel2)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V3-NS-right(channel1)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V3-NS-right(channel1)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V3-NS-right(channel1)-colectivo4.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V3-NS-right(channel2)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V3-NS-right(channel2)-colectivo4.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V4-NS-left(channel1)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V4-NS-left(channel1)-colectivo4.wav
series_temporales_maxi/trabajo_final/src/audios/colectivo/V4-NS-left(channel2)-colectivo4.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V1-NS-left(channel1)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V1-NS-left(channel2)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V2-NS-right(channel1)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V2-NS-right(channel1)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V2-NS-right(channel2)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V2-NS-right(channel2)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V3-NS-right(channel1)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V3-NS-right(channel1)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V3-NS-right(channel2)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V3-NS-right(channel2)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V4-NS-left(channel1)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/moto/V4-NS-left(channel2)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V1-NS-left(channel1)-silencio1.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V1-NS-left(channel2)-silencio1.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V2-NS-right(channel1)-silencio1.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V2-NS-right(channel2)-silencio1.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel1)-silencio3.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel1)-silencio4.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel1)-silencio5.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel1)-silencio6.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel1)-silencio7.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel1)-silencio8.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel1)-silencio9.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel2)-silencio3.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel2)-silencio4.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel2)-silencio5.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel2)-silencio6.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel2)-silencio7.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel2)-silencio8.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V3-NS-right(channel2)-silencio9.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel1)-silencio3.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel1)-silencio4.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel1)-silencio5.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel1)-silencio6.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel1)-silencio7.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel1)-silencio9.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel2)-silencio3.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel2)-silencio4.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel2)-silencio5.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel2)-silencio6.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel2)-silencio7.wav
series_temporales_maxi/trabajo_final/src/audios/silencio/V4-NS-left(channel2)-silencio9.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel1)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel1)-colectivo1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel1)-colectivo2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel1)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel1)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel2)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel2)-colectivo1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel2)-colectivo2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel2)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V1-NS-left(channel2)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel1)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel1)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel1)-colectivo2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel1)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel1)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel1)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel2)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel2)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel2)-colectivo2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel2)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel2)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V2-NS-right(channel2)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-auto3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-auto6.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-camioneta3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-camioneta4.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-colectivo4.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel1)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-auto3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-auto6.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-camioneta3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-camioneta4.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-colectivo4.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V3-NS-right(channel2)-moto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-auto3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-auto6.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-camioneta3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-camioneta4.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-colectivo4.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel1)-moto1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-auto2.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-auto3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-auto6.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-camioneta1.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-camioneta3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-camioneta4.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-colectivo3.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-colectivo4.wav
series_temporales_maxi/trabajo_final/src/audios/vehic/V4-NS-left(channel2)-moto1.wav
